<div>
  <div class="hot">
    <h1 class="hot-title">热门</h1>
    <ul class="hot-list">
      <li class="list1 js-list">
        <div class="ceng">
          <p class="chinese">导游</p>
          <p>Guide</p>
        </div>
        <div class="circle">
          <h1><a href="guideInformation.html">+</a></h1>
          <h1>导游</h1>
        </div>
      </li>
    </ul>
  </div>
  <div class="try">
    <h1 class="hot-title">体验</h1>
    <ul class="try-list">
      <li class="list3 js-list">
        <div class="ceng">
          <p class="chinese">旅行体验</p>
          <p>Travel experience</p>
        </div>
        <div class="circle">
          <h1><a href="tourismInformation.html">+</a></h1>
          <h1>旅行体验</h1>
        </div>
      </li>
    </ul>
  </div>
  <div class="route">
    <h1 class="hot-title">线路</h1>
    <ul class="route-list">
      <li class="list15 js-list">
        <div class="ceng">
          <p class="chinese">旅行路线</p>
          <p>ltinerary</p>
        </div>
        <div class="circle">
          <h1><a href="www.yiqihi.com">+</a></h1>
          <h1>旅游路线</h1>
        </div>
      </li>
    </ul>
  </div>
</div>
