<div class="details">
  <div class="left">
    <mat-nav-list>
      <mat-list-item >
        基本信息
        <mat-icon svgIcon="duihao"></mat-icon>&nbsp;
        <mat-icon svgIcon="laji"></mat-icon>
      </mat-list-item><mat-list-item >
        详情描述
        <mat-icon svgIcon="duihao"></mat-icon>
      <mat-icon svgIcon="laji"></mat-icon>
    </mat-list-item><mat-list-item >
        报价
        <mat-icon svgIcon="duihao"></mat-icon>
      <mat-icon svgIcon="laji"></mat-icon>
    </mat-list-item>
    </mat-nav-list>
  </div>
  <div class="right">
    <form class="standardForm">
      <mat-form-field class="firstInput">
        <input matInput placeholder="请输入一个标题">
      </mat-form-field>
      <mat-form-field class="half-width">
        <input matInput placeholder="出生地" value="home">
      </mat-form-field>
      <mat-form-field class="half-width">
        <input matInput placeholder="目前居住城市" value="city">
      </mat-form-field>
      <mat-form-field class="half-width">
        <input matInput placeholder="目前职业" value="work">
      </mat-form-field>
      <mat-form-field class="half-width">
        <input matInput placeholder="最高学历" value="xueli">
      </mat-form-field>
      <mat-form-field class="half-width">
        <input matInput placeholder="出生年月日" value="birdthday">
      </mat-form-field>
      <mat-form-field class="half-width">
        <input matInput placeholder="性别" value="sex">
      </mat-form-field>
      <mat-form-field class="half-width">
        <input matInput placeholder="身份类型" value="sflx">
      </mat-form-field>
      <mat-form-field class="half-width">
        <input matInput placeholder="开车时间" value="dateForCar">
      </mat-form-field>
      <mat-card>
        <mat-card-content>
          <h2 class="example-h2">会说的语言</h2>
          <section class="guide-section">
            <mat-checkbox class="example-margin">英语</mat-checkbox>
            <mat-checkbox class="example-margin">英语</mat-checkbox>
            <mat-checkbox class="example-margin">英语</mat-checkbox>
            <mat-checkbox class="example-margin">英语</mat-checkbox>
            <mat-checkbox class="example-margin">英语</mat-checkbox>
            <mat-checkbox class="example-margin">英语</mat-checkbox>
            <mat-checkbox class="example-margin">英语</mat-checkbox>
            <mat-checkbox class="example-margin">英语</mat-checkbox>
            <mat-checkbox class="example-margin">英语</mat-checkbox>
            <mat-checkbox class="example-margin">英语</mat-checkbox>
            <mat-checkbox class="example-margin">英语</mat-checkbox>
            <mat-checkbox class="example-margin">英语</mat-checkbox>
          </section>
        </mat-card-content>
      </mat-card>
      <mat-card>
        <mat-card-content>
          <h2 class="example-h2">旅行专业服务</h2>
          <section class="guide-section">
            <mat-checkbox class="example-margin">领队</mat-checkbox>
            <mat-checkbox class="example-margin">领队</mat-checkbox>
            <mat-checkbox class="example-margin">领队</mat-checkbox>
            <mat-checkbox class="example-margin">领队</mat-checkbox>
            <mat-checkbox class="example-margin">领队</mat-checkbox>
            <mat-checkbox class="example-margin">领队</mat-checkbox>
            <mat-checkbox class="example-margin">领队</mat-checkbox>
            <mat-checkbox class="example-margin">领队</mat-checkbox>
            <mat-checkbox class="example-margin">领队</mat-checkbox>
            <mat-checkbox class="example-margin">领队</mat-checkbox>
            <mat-checkbox class="example-margin">领队</mat-checkbox>
            <mat-checkbox class="example-margin">领队</mat-checkbox>
          </section>
        </mat-card-content>
      </mat-card>
      <mat-card>
        <mat-card-content>
          <h2 class="example-h2">其他专业服务</h2>
          <section class="guide-section">
            <mat-checkbox class="example-margin">代驾</mat-checkbox>
            <mat-checkbox class="example-margin">代驾</mat-checkbox>
            <mat-checkbox class="example-margin">代驾</mat-checkbox>
            <mat-checkbox class="example-margin">代驾</mat-checkbox>
            <mat-checkbox class="example-margin">代驾</mat-checkbox>
            <mat-checkbox class="example-margin">代驾</mat-checkbox>
            <mat-checkbox class="example-margin">代驾</mat-checkbox>
            <mat-checkbox class="example-margin">代驾</mat-checkbox>
            <mat-checkbox class="example-margin">代驾</mat-checkbox>
            <mat-checkbox class="example-margin">代驾</mat-checkbox>
            <mat-checkbox class="example-margin">代驾</mat-checkbox>
            <mat-checkbox class="example-margin">代驾</mat-checkbox>
          </section>
        </mat-card-content>
      </mat-card>
    </form>
  </div>
</div>
